.img1 {
    height: auto;
    width: 600px;
    box-shadow: 0.6em 0.6em 5px rgba(122,122,122,0.5);
}
.logo_img {
    width: 40%;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    flex: 1 0 auto;
} 
.section_inner {
    display: flex;
    justify-content: center;
}
.info_1{
    align-items: center;
}
.section120{
    padding: 20px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa000;
}
.menu_social {
    display: flex;
}
.menu1 {
    display: block;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    list-style-type: none;
}
.menu1_a{
    border-bottom: 1px solid;
    margin: 0 65px;
    padding: 5px;
    font-size: inherit;
    line-height: normal;
    text-overflow: ellipsis;
    color: #333;
    border-bottom: 1px solid;
    position: relative;
    text-decoration: none;
    transition: .3s;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    line-height: 45px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
}
.menu1_a:hover{
    background: rgba(0,0,0,0);
    color: #ffffff;
    transition: .3s;
}
.level10 {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 50px;
}
.section {
    width: 100%;
    min-width: 1170px;
    padding: 20px 0;
    line-height: 1.4;
    transition: .5s;
    opacity: 1;
}
.section117 {
    margin: 60px 0px 60px 0px;
}
.arr1 {
    padding: 60px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2 {
    width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}
.image1 {
    padding-right: 50px;
}
.descr1 {
    font-size: 40px;
}
.txt1 {
    font-size: 20px;
}
.logo_block {
    width: 30%;
    float: left;
    display: block;
    width: 100px;
}
.text2 {
    font-size: 20px;
}
.info {
    display: block;
    float: right;
}
.logo_img1{
    max-width: 100px;
    display: block;
    padding: 5px;
    margin-right: 10px;
}
.text2_li1 {
    list-style-type: none;
    font-size: 26px;
}
.text2_li{
    margin-left: 24px;
    list-style-type: circle;
}
.arr2{
    padding: 60px;
    position: relative;
    padding-bottom: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image2{
    padding: 20px 20px 20px 50px;
    display: block;
}
.image3{
    padding: 20px 20px 20px 50px;
    display: block;
    margin-top: 30px;
}
.arr2_ul{
    padding: 0px;
}
.text2{
    display: block;
}
.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
    font-size: 25px;
    width: 300px;
}
.table td {
    font-size: 20px;
	border: 1px solid #dddddd;
	padding: 5px;
    text-align: center;
}
.tabl {
    display: flex;
    justify-content: center;
}
.section109{
    margin-bottom: 0px;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.gkh{
    height: 8px;
    visibility: hidden;
    font-size: 8px;
}